---

---
@font-face {
    font-family: 'qomolangma-uchen_sarchungRg';
    src: url('{{site.baseurl}}/assets/fonts/qomolangma-uchensarchung-webfont.html') format('woff2'),
         url('{{site.baseurl}}/assets/fonts/qomolangma-uchensarchung-webfont.woff') format('woff'),
     url('{{site.baseurl}}assets/fonts/qomolangma-uchensarchung-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
{% include css/style.css %}

.vlog-comment{border:0px}




